.p3{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.p3-p1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.p3-p1-p2{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}



.p3-p1-p1{
    width: 1px;
    height: 1080px;
    z-index: -1;
    opacity: 0;
    position:absolute;
}














.p3-p1-p2-p1{
    width: 80vw;
    font-size: 42px;
    font-weight: 600;
    display: block;
}

.p3-p1-p2-p1 div{
    font-size: 64px;
    font-weight: 600;
    display: inline;
    color: #8473FF;
}


video{
    object-fit: cover;
    z-index:-1;
}